<!-- ko if: isStepVisible -->
<li class="aw-onestep-groups_item">
    <div class="group-title">
        <h2><span class="mark"></span><span data-bind="i18n: 'Shipping address'"></span></h2>
    </div>
    <div class="group-content">
        <div class="onestep-shipping-address">
            <div class="field choice" data-bind="visible: isVisibleSameAsBillingFlag()">
                <input class="input shipping-address-same-as-billing"
                       id="shipping-address-same-as-billing"
                       type="checkbox"
                       name="shipping-address-same-as-billing"
                       onkeydown="return event.key !== 'Enter';"
                       data-bind="checked: isAddressSameAsBilling, click: onUseBillingAddress"/>
                <label for="shipping-address-same-as-billing" class="label">
                    <span data-bind="i18n: 'My shipping and billing address are the same'"></span>
                </label>
            </div>
            <!-- ko if: isAddressDetailsVisible -->
            <!-- ko template: 'Aheadworks_OneStepCheckout/shipping-address/details' --><!-- /ko -->
            <!--/ko-->
            <!-- ko ifnot: isAddressSameAsBilling() -->
                <!-- ko ifnot: isFormInline -->
                    <div class="new-shipping-address-form"
                         data-role='new-shipping-address-form'>
                        <!-- ko if: isAddressListVisible -->
                        <div data-role="title" data-bind="visible: isAddNewAddressLinkVisible()">
                            <button class="aw-button-simple aw-button-simple__plus" href="#" data-bind="i18n: 'Add New Address', click: onAddNewAddressClick"></button>
                        </div>
                        <!-- /ko -->
                        <div class="content" data-role="content" data-bind="visible: isAddressFormVisible()">
                            <!-- ko template: 'Aheadworks_OneStepCheckout/shipping-address/form' --><!-- /ko -->
                            <div class="action-toolbar">
                                <!-- ko ifnot: isExistingAddressOpenToEdit -->
                                <button class="action primary" data-bind="click: onSaveNewAddressClick">
                                    <span data-bind="i18n: 'Ship here'"></span>
                                </button>
                                <button class="action" data-bind="click: onCancelClick">
                                    <span data-bind="i18n: 'Cancel'"></span>
                                </button>
                                <!-- /ko -->
                                <!-- ko if: isExistingAddressOpenToEdit -->
                                <button class="action primary" data-bind="click: onUpdateAddressClick">
                                    <span data-bind="i18n: 'Update'"></span>
                                </button>
                                <button class="action" data-bind="click: onCancelClick">
                                    <span data-bind="i18n: 'Back'"></span>
                                </button>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>
                    <!-- ko if: isAddressListVisible -->
                        <!-- ko if: amazonPayIsDefined() -->
                            <!-- ko foreach: getRegion('amazon-pay-button-region') -->
                                <!-- ko template: getTemplate() --><!-- /ko -->
                            <!--/ko-->
                        <!--/ko-->
                        <!-- ko foreach: getRegion('shipping-address-list') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                        <!-- ko foreach: getRegion('amazon-widget-address') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    <!-- /ko -->
                <!--/ko-->
                <!-- ko if: isFormInline -->
                    <!-- ko if: amazonPayIsDefined() -->
                        <!-- ko foreach: getRegion('amazon-pay-button-region') -->
                            <!-- ko template: getTemplate() --><!-- /ko -->
                        <!--/ko-->
                    <!--/ko-->
                    <!-- ko template: 'Aheadworks_OneStepCheckout/shipping-address/form' --><!-- /ko -->
                <!-- /ko -->
                <!-- ko foreach: getRegion('shipping-address-after') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            <!--/ko-->
        </div>
    </div>
</li>
<!-- /ko -->
