<div if="isActiveModule()"
     class="aw-onestep-gift-message aw-onestep-sidebar-block payment-option aw-sidebar-product-options"
     data-bind="mageInit: {'collapsible':{'active': false}}">
    <span class="payment-option-title action action-toggle toggle" data-role="title" data-bind="i18n: 'Gift Message'"></span>
    <div class="gift-message-content"
         data-role="content"
         data-bind="blockLoader: isLoading">
        <div if="isEditable()" class="gift-message-options">
            <!-- ko template: formTemplate --><!--/ko-->
        </div>
        <div ifnot="isEditable()" class="gift-message-summary">
            <!-- ko template: appliedTemplate --><!--/ko-->
        </div>
    </div>
</div>
