<div class="billing-address-details" data-bind="if: billingAddressForDetails()">
    <!-- ko text: billingAddressForDetails().prefix --><!-- /ko -->
    <!-- ko text: billingAddressForDetails().firstname -->
    <!-- /ko --> <!-- ko text: billingAddressForDetails().lastname -->
    <!-- /ko --> <!-- ko text: billingAddressForDetails().suffix --><!-- /ko --><!-- ko if: getStreetString(billingAddressForDetails().street) -->,<!-- /ko -->
    <!-- ko text: getStreetString(billingAddressForDetails().street) --><!-- /ko --><!-- ko if: (billingAddressForDetails().city) -->,<!-- /ko -->
    <!-- ko text: billingAddressForDetails().city --><!-- /ko --><!-- ko if: (billingAddressForDetails().region) -->,<!-- /ko -->
    <!-- ko text: billingAddressForDetails().region --><!-- /ko --><!-- ko if: (billingAddressForDetails().postcode) -->,<!-- /ko -->
    <!-- ko text: billingAddressForDetails().postcode --><!-- /ko --><!-- ko if: (getCountryName(billingAddressForDetails().countryId).lenght) -->,<!-- /ko -->
    <!-- ko text: getCountryName(billingAddressForDetails().countryId) --><!-- /ko --><!-- ko if: (billingAddressForDetails().telephone) -->,<!-- /ko -->
    <!-- ko text: billingAddressForDetails().telephone --><!-- /ko -->.
</div>
