<div class="aw-onestep-sidebar-block payment-option opc-payment-additional customerbalance"
     data-bind="visible: isAvailable && isActive()">
    <div class="payment-option-inner">
        <p class="payment-option-title"
           data-bind="i18n: 'Store Credit'"></p>
        <p class="payment-option-content">
            <span class="text"><!-- ko i18n: 'Available: ' --><!-- /ko --></span><span id="customerbalance-available-amount" data-bind="text: formatBalance()"></span>
        </p>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <button id="use-customer-balance"
                    class="action primary action-use"
                    name="payment[use_customer_balance]"
                    data-bind="click: sendRequest">
                <span><!-- ko i18n: 'Use store credit' --><!-- /ko --></span>
            </button>
        </div>
    </div>
</div>
